body{
    background-color: darkblue;
}
.contenedor{
    background-color: white;
}
img{
    float: right;
}
.caja1{
    float: right;
    padding: 20px;
    background-color: aquamarine;
}
.caja2{
    float: right;
    padding: 20px;
    background-color: aquamarine;
}
.caja3{
    float: right;
    padding: 20px;
    background-color: aquamarine;
}