body{
    background-color: darkblue;
}
.contenedor{
    background-color: white;
}
table{
    width: 100%;
    border: 4px solid darkorange;
    border-collapse: collapse;
}
thead th, tbody td{
    border: 4px solid darkcyan;
}
th{
    height: 50px;
    text-align: center;
    vertical-align: top;
    background-color: orangered;
    color: aquamarine;
}
table tbody tr:hover{
    background-color: black;
    color: white;
}
.tabla1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid red;
}
.tabla1 td, .tabla1 th{
    border: 1px solid greenyellow;
}
.tabla1 th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: darkgreen;
    color: white;
}
.tabla tr:hover{
    background-color: goldenrod;
    color: white;
}