body{
    background-color: beige;
}
h1{
    color: crimson;
}
hr{
    width: 100%;
    height: 15px;
    background-color:aqua;
}
h2{
    color: blueviolet;
    font-style: initial;
}
p{
    color: yellowgreen;
}