.fa-facebook{
    font-size: 35px;
    color: #1877f2;

}
.fa-youtube{
    font-size: 35px;
    color: #ff0000;
}
.fa-instagram{
    font-size: 35px;
    color: #c13584;
}
.fa-github-alt{
    font-size: 35px;
    color: #041e42;
}
.fa-whatsapp{
    font-size: 35px;
    color: #128c7e;
}
.fa-tiktok{
    font-size: 35px;
    color: #000000;
}
.fa-linkedin{
    font-size: 35px;
    color: #00a0dc;
}